* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

body {
    background-color: #2b2a2a;
    display: flex;
    justify-content: center;
}

.container {
    width: 1440px;
    height: 1024px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.dashboard-sidebar {
    background-color: #b8202c;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    padding-top: 24px;
    padding-right: 70px;
}

.dashboard-sidebar .sidebar-logo {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 24px;
}

.sidebar-logo svg {
    width: 50px;
    height: 50px;
    fill: white;
}

.sidebar-logo p {
    font-size: 26px;
}

.sidebar-links .link,
.sidebar-settings .link {
    display: flex;
    gap: 16px;
    padding: 12px;
    padding-left: 24px;
    border-radius: 0 20px 20px 0;
}

.sidebar-links .link:hover,
.sidebar-settings .link:hover {
    background-color: #ee2939;
    box-shadow: #2b2a2a 2px 2px 4px;
}

.link svg {
    width: 24px;
    height: 24px;
    fill: white;
}

.sidebar-links a,
.sidebar-settings a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.dashboard-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    row-gap: 16px;
    column-gap: 16px;
    padding: 16px;
    padding-right: 50px;
    align-items: center;
}

.dashboard-header .searchbar {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.searchbar label {
    display: flex;
    align-items: center;
}

.searchbar input {
    border-radius: 20px;
    padding: 6px;
    background-color: #e2e8f0;
    border: 1px solid #D6D9DC;
    width: 100%;
}

.searchbar input:focus {
    outline: none;
    border: 1px solid #1992d4;
    color: black;
    box-shadow: none; /* Remove default red glow in Firefox */
}

.dashboard-header .notification {
    display: flex;
    gap: 24px;
    justify-content: end;
    align-items: center;
    padding-right: 8px;
}

.notification svg:hover {
    fill: #2b2a2a;
}

.dashboard-header .user-welcome
{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 16px;
    padding: 8px;
    align-items: center;
}

.user-welcome img {
    grid-row: 1/3;
}

.user-welcome .welcome {
    font-size: 12px;
    align-self: flex-end;
}

.user-welcome .username {
    font-size: 24px;
    align-self: baseline;
}

.dashboard-header .buttons {
    display: flex;
    gap: 24px;
    justify-content: end;
}

.buttons button {
    padding: 12px 36px;
    color: white;
    background-color: #b8202c;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.buttons button:hover {
    background-color: #ee2939;
}

.buttons button:active {
    background-color: #8b1721;
}

.dashboard-main {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 16px;
    padding-bottom: 50px;
}

.dashboard-main .projects {
    grid-row: 1/3;   
}

.dashboard-main .announcements,
.dashboard-main .trending,
.dashboard-main .projects {
    padding: 16px;
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

.cards .card {
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 4px 4px 4px #cdd2d9;
    display: flex;
    flex-direction: column;
    height: 177px;
    border-left: 8px solid orangered;
}

.cards .card:hover {
    border-left: 8px solid #b8202c;
}

.card .card-title {
    padding-top: 16px;
    margin-bottom: 4px;
}

.card .card-text {
    font-weight: 400;
    color: #636363;
    font-size: 14px;
    height: 100%;
}

.card .card-buttons {
    display: flex;
    justify-content: end;
    gap: 24px;
    align-items: end;
}

.card-buttons button {
    border: none;
    background-color: white;
}

button svg {
    height: 24px; 
    width: 24px;
}

button:hover {
    svg {
        fill: #2b2a2a;;
    }
}

.announcements .title,
.trending .title,
.projects .title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
}

.announcements .box,
.trending .box {
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 4px 4px 4px #cdd2d9;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.announcements .box {
    padding-top: 32px;
    padding-bottom: 32px;
}

.announcement .announcements-title {
    font-size: 14px;
    margin-bottom: 4px;
}

.announcement .announcements-text {
    font-size: 10px;
    font-weight: 400;
    color: #636363;
    line-height: 12px;
}

.box hr {
    background-color: #d2d2d2;
    height: 1px;
    border: none;
}

.trending {
    align-self: flex-end;
}

.trending .box .trending-profile {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 16px;
}

.trending-profile img {
    width: 48px; 
    height: 48px;
    grid-row: 1/3;
}

.trending-profile .at {
    font-size: 12px;
    align-self: flex-end;
}

.trending-profile .description {
    font-weight: 400;
    color: #636363;
    font-size: 13px;
}
